@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f5f7;
  --foreground: #302931;
  --text: #323232;
  --textCard: #8e8d8d;
  --rajaColor: #001e18;
}

/* Dark mode 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
  */

@keyframes blink {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}

.clignote {
  animation: blink 0.5s linear 0s 3; /* Clignote 3 fois */
}
/* Logo */
.logo-background {
  position: absolute; /* Position it absolutely */
  top: 0;
  left: -300px;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it's behind other content */
}

*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:San Francisco, SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.social-media a {
  font-size: 0.8rem;
}

/* Menu */
nav  {
  background-color: var(--background); /* Couleur de fond (gris clair) */
  color: #323232; /* Couleur du texte */
  padding: 20px; /* Espacement interne */
  font-size: 11px; /* Taille de la police réduite */
}

.submenu {
  background-color: var(--background); /* Couleur de fond (gris clair) */
  color: #323232; /* Couleur du texte */
  padding: 10px; /* Espacement interne */
  font-size: 11px; /* Taille de la police réduite */
  z-index: 10; /* Z-index pour que le menu soit au-dessus des autres éléments */
}

/* Carousel */
.container {
  position: relative;
  color: var(--background);
  font-size: 0.7rem;
  width: 320px;
  height: 400px; /* Ajoutez une hauteur fixe ou min-height */
  margin: 100px auto 0 auto;
  perspective: 1000px;
}
.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 60s infinite forwards linear;
}
.title-carousel {
  color: var(--foreground);
  text-transform: uppercase;
  font-size: 0.4rem;
  font-weight: bold;
  text-shadow: 9px 4px 3px rgba(0, 0, 0, 0.5);
  font-family: "Black Ops One", serif;
  font-weight: 400;
  font-style: normal;
}

/* Hide carousel on smartphone devices */
@media (max-width: 768px){
  .container {
    height: auto; 
    min-height: 0;
  }
  .carousel {
    display: none; /* Hide the carousel */
    height: 0; 
  }
  .mobile-image {
    display: block; /* Show the mobile image */
    width: 100%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */
  }
  
}
.carousel__face { 
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  /* box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5); */
  display: flex;
}

.carousel__face:nth-child(1) {
  background-image: url("/photos/ramadan-moubarak.jpg");
  transform: rotateY(  0deg) translateZ(430px); }
.carousel__face:nth-child(2) { 
  background-image: url("/photos/salle-comble.jpeg");
    transform: rotateY( 40deg) translateZ(430px); }
.carousel__face:nth-child(3) {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Sunrise_in_Casablanca_with_Hassan_II_Mosque.jpg/2880px-Sunrise_in_Casablanca_with_Hassan_II_Mosque.jpg");
  transform: rotateY( 80deg) translateZ(430px); }
.carousel__face:nth-child(4) {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Casablanca_Finance_City_35.jpg/2880px-Casablanca_Finance_City_35.jpg");
  transform: rotateY(120deg) translateZ(430px); }
.carousel__face:nth-child(5) { 
  background-image: url("/photos/casa-city-finance.png");
 transform: rotateY(160deg) translateZ(430px); }
.carousel__face:nth-child(6) { 
  background-image: url("/photos/carousel/equipe-feminine.png");
 transform: rotateY(200deg) translateZ(430px); }
.carousel__face:nth-child(7) { 
  background-image: url("/photos/carousel/raja-club.png");
 transform: rotateY(240deg) translateZ(430px); }
.carousel__face:nth-child(8) {
  background-image: url("/photos/carousel/raja-homme.png");
  transform: rotateY(280deg) translateZ(430px); }
.carousel__face:nth-child(9) {
  background-image: url("/photos/carousel/street-raja.png");
  transform: rotateY(320deg) translateZ(430px); }


@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

/* Cards */
.video-card {
  color: var(--text);
  background-color: rgb(255, 255, 255);
  background-color: var(--background);

}
.title-card {
  color: red;
  font-size: 0.5rem;
  font-weight: bold;
}
.date-card {
  color: var(--textCard);
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 0.6rem;
}
.disposition-card {
  display: flex;
  align-items: center;
}

.title-article {
  color: red;
  font-size: 0.5rem;
  font-weight: bold;
}
.description-article {
  display: flex;
  align-items: center;
}
.link-article {
  color: #63b3ed; /* Couleur des liens */
  text-decoration: none; /* Supprime la ligne sous les liens */
  font-size: 11px; /* Taille de la police réduite */
}
.article-card {
  display: flex;
  align-items: center; /* Aligne les éléments verticalement */
}

.text-container {
  margin-left: 16px; /* Ajoute de l'espace entre l'image et le texte */
  display: flex;
  flex-direction: column; /* Empile les éléments de texte verticalement */
  justify-content: center; /* Centre le texte verticalement */
}


/* Footer */

footer {
  /*background-color: #1a202c; /* Couleur de fond (gris foncé) */
  background-color: var(--rajaColor); /* Couleur de fond (vert raja) */
  color: #a19e9e; /* Couleur du texte */
  padding: 20px; /* Espacement interne */
  font-size: 11px; /* Taille de la police réduite */
}

footer h4 {
  margin-bottom: 10px; /* Espacement sous les titres */
}

footer a {
  color: #63b3ed; /* Couleur des liens */
  transition: color 0.3s; /* Transition pour un effet au survol */
}

footer a:hover {
  color: #90cdf4; /* Couleur des liens au survol */
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 0.9s infinite;
}
